* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif !important;
	/* font-family: 'Poppins', sans-serif; */
	/* font-size: 15px; */
	/* outline: 1px solid #000; */
}

body {
	font-size: 140%;
}

html {
	scroll-behavior: smooth !important;
}

li {
	list-style-type: none !important;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: #014745;
}

/* ----------- Custom Scrollbar --------------*/
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.primary {
	background-color: #028c8c;
}

.secondary {
	background-color: #ffaf86;
}


.btn,
.btn:hover,
.btn:focus,
.btn:active,
input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus,
select:active,
select:focus,
.page-link:active,
.page-link:focus,
.form-control:active {
	outline: none !important;
	box-shadow: none !important;
}



/*------------------------- NavBar Section---------------------*/
.navbar-brand {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 2.875rem;
	font-weight: 700;
	/* line-height: 62px; */
	letter-spacing: 0em;
	text-align: left;
	color: #014745 !important;
}


.input-group {
	/* border: 1px solid #868387 !important; */
	/* height: 56px; */
	/* width: 70rem !important; */
	border-radius: .5rem
}


nav .form-select {
	/* border: 1px solid #868387 !important; */
	/* width: 10rem !important; */
	/* height: 56px !important; */
	border-radius: 8px;
	margin-left: 10px;
}

.form-select {
	/* border: 1px solid #868387 !important; */
	/* width: 10rem !important; */
	/* height: 56px !important; */
	border-radius: 8px;
	margin-left: 0 !important;
}

.nav-icons {
	width: 24px;
	height: 24px;
}

.nav-card {
	background: #fff;

	/* border: 1px solid #868387 !important; */
	width: 15rem !important;
	height: 56px !important;
	border-radius: .5rem;
	box-shadow: 0px 4px 12px rgba(126, 120, 120, 0.25);
}

.nav-avatar {
	border-radius: 100%;
	width: 38px;
	height: 38px;
	margin-right: 20px;
}


.notification {
	/* background-color: #555; */
	color: white;
	text-decoration: none;
	position: relative;
	display: inline-block;
	border-radius: 2px;
	/* border-right: 2px solid red; */
}


.notification .badge {
	width: 11px;
	height: 11px;
	font-size: 6px;
	position: absolute;
	text-align: center;
	top: 13px;
	right: -7px;
	padding: 3px 1px;
	border-radius: 100%;
	background: #F27E64;
	color: white;
}

/* .navbar-toggler-icon {
	width: 100% !important;
} */

.navbar-toggler {
	border-radius: 100%;
	padding: .5rem;

}

.navbar-toggler-icon {
	width: 32px !important;
	height: 32px !important;
}


.input-group-text {
	background-color: white !important;
	border-right: none !important;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.input-group>.form-control {
	padding-left: 2rem !important;
	border-left: none !important;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

select option {
	/* padding-top: 3rem !important; */
	background: #F0F0F0;
}

/* ---------------------OffCanvas Section------------------- */
.offcanvas {
	background: #FAFAFA;
	width: 260px !important;
}

.offcanvas-nav .active {
	background: #E7E7E7 !important;
}

.offcanvas-nav .nav-link {
	margin-right: 0 !important;
	background: #000;
}

.offCanvas-footer {
	margin-top: 14rem;
}

.offCanvas-icon {
	width: 2rem;
}

.offcanvas-toggler {

	Width: 24px;
	Height: 24px;
	margin-top: 70px;
}

.logo {
	width: 142.55px;
	height: 32.55px;
	margin-left: 10px;
	margin-top: 68px;
	/* margin-right: 41.45px; */
}

.admin-profile {
	margin-top: 43.45px;
	margin-left: 24px;
}

.nav-link {
	color: #014745 !important;
	font-weight: 600;
	font-size: 18px !important;
	margin-right: 2rem !important;
}

.nav-link:hover {
	border-bottom: 3px solid #014745;
}

.navbar-nav .active {
	border-bottom: 3px solid #014745;
}

.offcanvas-link {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	color: #505050;
	margin-top: 53px !important;
	padding: 1rem 0;
}

.offCanvas-link .activated {
	background-color: rgb(17, 0, 0) !important;
}

.offcanvas-form-select:hover {
	/* background-color: rgb(17, 0, 0) !important; */

	background-color: #F1F1F1 !important;
}


/* ------------------------Total Card Section------------------- */
.total-card {
	/* width: 18rem; */
	background: #F5F5F5;
	box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	padding: -7rem;
}

.total-card-sub-title {
	font-weight: 600;
	font-size: 18px;
}

.total-card-title {
	font-weight: 700;
	font-size: 90px;
}

.total-card-text {
	font-weight: 600;
	font-size: 18px;
}


/* --------------------Background colors ------------------*/
.bg-primary {
	background-color: #014745 !important;

}

.bg-primary-bright {
	background-color: #028C8C !important;
}

.bg-light-green {
	background-color: #B1DEDE !important;
}

.bg-bright-green {
	background-color: #DDF3F3 !important;
}

.bg-secondary {
	background-color: #ffaf86;
}

.bg-light-secondary {
	background-color: #F3D1C9 !important;
}

.bg-gray {
	background-color: #F0F0F0 !important;
}


/* -----------------Texts------------------------- */
.text-primary {
	color: #028C8C !important;
}

.text-dark-primary {
	color: #006F6F !important;
}

.text-light {
	color: #ffffff !important;
}

.text-red {
	color: #D11F1F;
}

/* ------------------Buttons---------------------- */
.btn-primary {
	background-color: #028C8C !important;
	border: 1px solid #028C8C;
	border-radius: 8px;
	padding: .5rem 3rem;
	color: #fff;
}

.btn-primary:hover {
	background-color: transparent !important;
	border: 1px solid #028C8C;
	color: #028C8C;
}

.btn-outline-secondary {
	border: 1px solid #ced4da;
	background-color: rgb(212, 206, 206) !important;
}

.btn-outline-secondary:hover {
	background-color: rgb(156, 149, 149) !important;
}

.suspend-btn {
	background: #ADEAEA;
	color: #006F6F;
	padding: 1rem 2rem;
	width: 149px !important;
	height: 56px;
	border-radius: 8px;

}

.suspended-btn {
	width: 149px !important;
	height: 56px;
	border-radius: 8px;
	background: #F2BEBE;
	color: #E81212;
	/* padding: .5rem 2rem; */

}

/*----------------- Data Table Section ----------------*/
.table-avatar {
	display: flex !important;
	width: 49px;
	height: 49px;
	border-radius: 50%;
	margin-left: 22px;
}

.accordion {
	background-color: #F0F0F0;
	color: #444;
	cursor: pointer;
	padding: 21px;
	width: 90% !important;
	border: none;
	text-align: left;
	outline: none;
	font-size: 18px;
	transition: 0.4s;
	border-radius: 8px !important;
}

.active,
.accordion:hover {
	/* background-color: #DADADA; */
}

.accordion:after {
	content: url(../svg/chevron-down.svg);
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: -15px;
	margin-top: 14px;

}

.active::after {
	/* content: url(../svg/chevron-up.svg); */

}

.table-row {
	border-radius: 8rem !important;
	padding-bottom: 10px;
}


.panel {
	/* padding: 0 18px; */
	background-color: #F0F0F0;
	width: 90%;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	display: block;
	font-size: 10px;
	border-radius: 8px;
	margin-top: 8px;
	height: 131px !important;

}

.email,
.status,
.upgrade,
.delete-btn {
	display: block;
	padding: 9px 15px;
	border-bottom: 1px solid #E8E8E8;
}

.username {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	/* or 124% */
	text-align: center;
	margin-left: 1rem;
}

.bi-three-dots {
	width: 62px !important;
	font-size: 33px;
	background: #D9D9D9;
	color: #fff;
	border-radius: 8px;
	padding: 4px 20px;
	justify-content: end;
}



.user-status {
	font-size: 10px;
	font-weight: 400;
	margin-left: 1rem;
}

.collapse-card {
	width: 272px;
	padding: 16px 32px;
	margin-top: 3rem;
	margin-left: -5.2rem;
}

.form-check-input {
	width: 24px;
	height: 24px;
	border: 2px solid #028C8C !important;
}

.form-check-input:checked {
	background-color: #028C8C !important;
}

/* Pagination Section */
.pagination {
	display: flex;
	justify-content: center;
}

.pagination a {
	color: #868387;
	/* float: center; */
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #868387;
	margin: 0 4px;
	border-radius: 8px;
	justify-content: center;
	width: 48px;
	height: 48px;
}

.pagination a.active {
	background-color: #028C8C;
	color: white;
	border: 1px solid #028C8C;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}

.page-icon {
	border: none !important;
}


/* -----------User Panel Page Content----------- */
.table-header {
	font-weight: 400;
	font-size: 18px;
	color: #000;
}












@media (max-width: 768px) {
	.table-avatar {
		display: none !important;
	}

	.accordion {
		/* background-color: #DDF3F3; */

	}

	.active,
	.accordion:hover {
		/* background-color: #DDF3F3; */
	}

	.accordion:after,
	.active:after {
		/* display: none !important; */
	}

	.panel {
		/* display: none !important; */
	}

	.email,
	.status,
	.upgrade,
	.delete-btn {
		border-bottom: none !important;
		font-size: 18px;

	}

	.accordion {
		width: 90% !important;
	}

	.table-row {
		/* width: 1351px; */
	}

	.username {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		/* or 124% */
		margin-left: 2rem;

		text-align: center;
	}

	.table-avatar {
		display: none !important;

	}


	.user-status {
		font-size: 10px;
		font-weight: 400;
		margin-left: 2rem !important;
	}
}

@media screen and (min-width:768px) and (max-width:1023px) {

	.accordion:after,
	.active:after {
		display: block !important;
	}

	.panel {
		display: block !important;

	}

	.accordion {
		width: 100% !important;
	}

	.panel {
		/* padding: 0 18px; */
		background-color: #F0F0F0;
		width: 100%;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
		display: block;
		font-size: 10px;
		border-radius: 8px;
		margin-top: 8px;
		height: 331px !important;

	}

	.table-avatar {
		display: flex !important;
		width: 49px;
		height: 49px;
		border-radius: 50%;
		margin-left: 22px;
	}
	.offCanvas-footer {
		margin-top: 40rem;
	}
}

@media (min-width: 1024px) {

	.accordion:after,
	.active:after {
		display: none !important;
	}

	.panel {
		display: none !important;

	}

	.accordion {
		width: 100% !important;
	}
	
	.total-card {
		/* width: 18rem; */
		margin-bottom: 161px;
	}
}